:root {
  --purple: rgb(145, 92, 158);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
select,
button {
  font: 400 16px 'Roboto', sans-serif;
  color: #fff;
  background-color: #3a3946;
}

.btu-calculator {
  margin: 2rem 0;
}

form {
  width: 100%;
  max-width: 400px;
  padding: 0 2rem;
  margin: 0 auto 2rem;
}

.input-wrapper {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

select {
  width: 100%;
  display: block;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 3px;
  outline-width: 1px;
  outline-style: solid;
}

select:focus {
  outline-color: var(--purple);
  border-color: var(--purple);
}

.result-content {
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 2rem;
}

.result-content h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.result-content .result {
  max-width: 500px;
  margin: 1rem auto;
  text-align: left;
  display: flex;
  justify-content: space-around;
}

.result-content .title {
  font-size: 1.25rem;
  font-weight: bold;
  display: block;
  color: var(--purple);
}

.result-content p {
  font-size: 0.875rem;
}

.result-content strong {
  font-size: 1rem;
}

